<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Kredytowanie</title>
</head>
<body>
    <span th:if="${someInfo != null}" th:text="${someInfo}"></span>

    <form method="post" action="/" th:object="${creditForm}">
        <span th:if="${#fields.hasErrors('creditValue')}" th:errors="*{creditValue}">Error</span>
        Kwota kredytu: <input type="number" th:field="*{creditValue}"><br/>
        <span th:if="${#fields.hasErrors('creditTime')}" th:errors="*{creditTime}">Error</span>
        Czas kredytu: <input type="number" th:field="*{creditTime}"><br/>
        <span th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}">Error</span>
        Mc wynagrodzenie: <input type="number" th:field="*{salary}"><br/>
        <span th:if="${#fields.hasErrors('costs')}" th:errors="*{costs}">Error</span>
        Koszty per mc: <input type="number" th:field="*{costs}"><br/>
        <input type="submit" value="Wyślij"/>
    </form>
</body>
</html>